
body {
  
  margin-left:5%;
  margin-right:5%;
  border:1px dotted gray;
  padding:10px 10px 10px 10px;
  width:;
  height:;
  background-image:url("imagem.jpeg");
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:fixed;
}


h1, h2 {
  font-family: "Times New Roman", serif;
  fonte-size: 10px;  
  color:#FF6347  
  
   
    
      
